<div class="review">
	<p><%= review.comment %></p>
	<p class="review-comment"><%= review.rating %></p>
</div>
<div class='links btn-group'>
<% if user_signed_in? %>
	<% if current_user.id == review.user_id %>	
		<%= link_to "Edit", edit_play_review_path(review.play, review) %>
		<%= link_to "Destroy", play_review_path(review.play, review), method: :delete, data: {confirm: "Are You sure?"} %>
	<% end %>
<% end %>
</div>
	
		
